img
  margin 0px;

nav
  padding-bottom 10px
  padding-top 15px
  border-bottom #5a6268 solid 1px
.site-footer
  height: 65px
  background-color: #676767


.site-footer ul
  margin: 0
  padding: 0
  list-style: none


.site-footer li
  display: inline-block
  font-size: 30px
  padding-right: 10px
  padding-top: 13px
  padding-left: 30px


.site-footer li img
  margin-top: -0px


.site-footer li a
  display: block
  color: #fff
  font-weight: 600
  text-transform: uppercase
  text-decoration: none

.show-later
  display none

.image
  position:relative


.image img
  display:block
  width:100%


.image div
  display none
  position: absolute
  width:100%
  height 100%
  bottom: 0
  color:#fff
  background: rgba(0,0,0,0.7)
  text-align center


.image div span
  font-size x-large
  position absolute
  top 50%
  transform translate(-50%, -50%)

@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?53027144');
  src: url('../font/fontello.eot?53027144#iefix') format('embedded-opentype'),
          url('../font/fontello.woff2?53027144') format('woff2'),
          url('../font/fontello.woff?53027144') format('woff'),
          url('../font/fontello.ttf?53027144') format('truetype'),
          url('../font/fontello.svg?53027144#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?53027144#fontello') format('svg');
  }
}
*/

[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* you can be more comfortable with increased icons size */
   //font-size: 120%;

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-instagram:before { content: '\f16d'; } /* '' */
.icon-vkontakte:before { content: '\f189'; } /* '' */
.icon-camera:before { content: '\e800'; } /* '' */